<head>
	<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>	
<div class="border1">
<ul>
	<li class="active">
	<a href="/">Home</a>
	</li>
	<li>
	<a href="https://www.google.com" target=blank>
		Sams Programming knowledge</a>
	</li>
	<li>
	<a href="/inventory">Inventory</a>
	</li>
</ul>
</div>
