<style type="text/css">
  table, td {
   border: 1px solid black;
}

  th {
  letter-spacing: 2px;
  align-content: flex-start;
}
</style>
<body> 
<table>
	<tr>
		<th>1st row</th>
		<th>2nd row</th>
		<th>3rd row</th>
	</th>
	<tr>
		<td>1st item</td>
		<td>2nd item</td>
		<td>3rd item</td>
	</tr>
	<tr>
		<td>1st amount</td>
		<td>2nd amount</td>
		<td>3rd amount</td>
	</tr>
</table>
</body>
